<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /* All the styles here */
    #loader {
      color: #000088;
      padding: 20px;
      text-align: center;
    }

    .hidden {
      display: none;
    }

    .visible {
      display: block;
    }
  </style>
  <!-- JavaScript Bundle with Popper -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div id="app">
    <h2>Tasks</h2>
    <div id="loader" class="">Loading tasks...</div>
    <input type="text" class="hidden" id="new-task-input" />
    <ul id="tasks" class="hidden"></ul>
  </div>

  <script>
    /* All the javascript here */
    function renderTask(data) {
      var $li = $('<li>').html(data.title);
      $('#tasks').append($li);
    }

    function renderTasks() {
      fetch('http://127.0.0.1:8000/api/v1/tasks')
        .then(function(res) {
          return res.json();
        })
        .then(function(data) {
          $('#loader').addClass('hidden');
          $('#new-task-input').removeClass('hidden');
          $('#tasks').removeClass('hidden');

          for (let i = 0; i < data.length; i++) {
            const element = data[i];
            renderTask(element);
          }
        });
    }

    function createTask(title) {
      var data = {
        'title': title,
        'description': 'placeholder data',
        'done': false
      }

      fetch('http://127.0.0.1:8000/api/v1/tasks', {
        'method': 'POST',
        'headers': {
          'Content-Type': 'application/json'
        },
        'body': JSON.stringify(data),
      })
      .then(function(res) {
        return res.json()
      })
      .then(function(data) {
        renderTask(data);
      })
    }

    $(document).ready(function() {
      renderTasks();
      $('#new-task-input').keypress(function(e) {
        var code = e.keyCode || e.which
        if (code == 13) {
          var value = $(this).val();
          if (value === "") {
            alert("Please enter the task title")
            return
          }
          createTask(value);
          document.getElementById('new-task-input').value = '';
        }
      });
    });

  </script>
</body>
</html>